
@import "tailwindcss";
/* @import "@mdi/font/css/materialdesignicons.min.css"; */
/* @import '@fortawesome/fontawesome-free/css/all.css'; */
@config "../tailwind.config.ts";
@layer base {}

button {
  cursor: pointer;
}