
@import "tailwindcss";
/* @import "@mdi/font/css/materialdesignicons.min.css"; */
/* @import '@fortawesome/fontawesome-free/css/all.css'; */
@config "../tailwind.config.ts";
@layer base {}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  /* background-color: var(--color-background-0); */
  color: var(--color-tsecondary-50);
  font-family: 'EB Garamond', serif;
  letter-spacing: 0.02em;
  font-size: 18px;
  font-size: 1.25rem;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* fallback and base styles for .marked */
.marked {
  h1 {
    color: var(--color-tprimary-50);
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  h2 {
    color: var(--color-tprimary-50);
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.75rem;
  }

  p {
    color: var(--color-tprimary-600);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    /* background: var(--color-background-800); */
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
  }

  ul {
    list-style-type: disc;
    margin-left: 3rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  a {
    color: var(--color-info-0);
    text-decoration: underline;
    transition: color 0.2s;
    overflow-wrap: anywhere;
    word-break: break-all;
  }

  a:hover {
    text-decoration: underline dotted;
    color: var(--color-info-100);
  }

  .markdown-alert-title {
    font-family: "Cinzel", serif;
    @apply flex items-center gap-2 text-white font-bold text-2xl;
  }

  .octicon {
    fill: white;
    height: 1.3rem;
    width: 1.3rem;
  }

  .markdown-alert-note {
    .markdown-alert-title {
      background: var(--color-info-800);
    }

    p {
      background: var(--color-info-900);
    }
  }

  .markdown-alert-tip {
    .markdown-alert-title {
      background: var(--color-info-800);
    }

    p {
      background: var(--color-info-900);
    }
  }

  .markdown-alert-important {
    .markdown-alert-title {
      background: color-mix(in srgb, var(--color-success-500), black 50%);
    }

    p {
      background: color-mix(in srgb, var(--color-success-900), black 70%);
    }
  }

  .markdown-alert-warning, .markdown-alert-caution {
    .markdown-alert-title {
      background: color-mix(in srgb, var(--color-error-500), black 40%);
    }

    p {
      background: color-mix(in srgb, var(--color-error-900), black 50%);
    }
  }

  summary {
    background: var(--color-background-800);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0rem 0.5rem;
    margin-left: -0.5rem;
    outline: none;
    cursor: pointer;
  }

  details {
    padding-left: 0.5rem;
    border-left: 2px solid var(--color-background-700);
    border-bottom: 2px solid var(--color-background-700);
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
  }

  .marked-image {
    position: relative;
    overflow: visible;
    border: 3px solid;
    border-image: linear-gradient(to bottom right, transparent 5%, var(--color-red-800) 6%, var(--color-red-800) 94%, transparent 95%) 1;
    margin: 15px;

    .tl-corner {
      position: absolute;
      width: 120px;
      top: -9px;
      left: -9px;
      filter: invert(10%) sepia(79%) saturate(4316%) hue-rotate(347deg) brightness(104%) contrast(107%);
      /* filter: invert(8%) sepia(46%) saturate(7352%) hue-rotate(350deg) brightness(110%) contrast(90%); */
    }

    .br-corner {
      position: absolute;
      width: 120px;
      bottom: -9px;
      right: -9px;
      filter: invert(10%) sepia(79%) saturate(4316%) hue-rotate(347deg) brightness(104%) contrast(107%);
      /* filter: invert(8%) sepia(46%) saturate(7352%) hue-rotate(350deg) brightness(110%) contrast(90%); */
    }
  }

  blockquote {
    border-left: 4px solid var(--color-background-700);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.5rem;
    color: var(--color-background-600);
    border-radius: 0.25rem;
  }
}

.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sigali';
  src: url('/fonts/Sigali-Script.ttf') format('truetype');
}